# NEXT_PUBLIC_API_URL is accessible in both server and client
NEXT_PUBLIC_API_URL=http://localhost:3001

# Backend API Configuration
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Client side Configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_SECRET_KEY=
NEXT_PUBLIC_FEATURE_FLAG_ENABLE_CUSTOMER_LOGIN=