# Backend API Configuration
# NEXT_PUBLIC_API_URL is accessible in both server and client
NEXT_PUBLIC_API_URL=http://localhost:3001

# API_URL is only accessible on the server side
# API_URL=http://localhost:3001
CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
